.vagrant
tags
./docs/
./example_*
./project_*
student_projects/
./ucl_minimal_cfg/
ucl_topo
Vagrantfile
git-push.sh
git-pull.sh
build_vm.sh
cleanup.sh
command_history
connect_to.sh
constant.py
create_network.sh
provision.sh
group3_cfg/*/group
group3_cfg/*/hostname
group3_cfg/*/hosts
group3_cfg/*/manpath.config
group3_cfg/*/passwd
group3_cfg/*/services
.idea
